/*The box around the calculator*/
.calculator {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.calculation {
  background-color: #fff;
  font-size: 40px;
}

/*Placeholder text color for Chrome*/
.element::-webkit-input-placeholder {
    color: blue;
    font-weight: bold;
}

/*Placeholder text color for FireFox*/
.element::-moz-placeholder {
    color: blue;
    font-weight: bold;
}

/*Placeholder text color for IE*/
.element:-ms-input-placeholder {
    color: blue;
    font-weight: bold;
} 

#results {
  font-size: 32px;
}